body{
    background-color: aqua;
}

span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrap{
    display:block;
}

.red{
    color: red;
    text-align: inherit;
}

.blue{
    color: blue;
    text-align: inherit;
}

.silver{
    background-color: silver;
    text-align: inherit;
    display: block;
}

.centered{
    display: block;
    justify-content: center;
    text-align: center;
}

.right{
    display: block;
    text-align: right;
}

.big{
    font-size: 20px;
}